body {
    background-color: $primary !important;
    padding: 1.25rem;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &--expand {
        gap: 6.5rem;
        padding: 4rem 0;
    }
}

.container-desktop  {
    display: none;
}

@media screen and (min-width: 768px) {
    .container-mobile {
        display: none;
    }

    .container-desktop {
        display: flex;
        max-width: 428px;
        margin: auto;
    }
    
}