/****
    **************************************************************************
    
    =============================  QRCODE  ================================

    **************************************************************************
****/
.qrpopup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.qr-cover {
    width: 100%;
    background-color: white;
}