h1, h2, h3, h4, h5, h5, p, a, button {
    margin: inherit;
}

* {
    box-sizing: border-box;
}

figure {
    width: auto;
    display: block;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}